.subjects {
  background-color: var(--color-bg-muted);
  min-height: 100vh;
  display: flex;
  gap: 1rem;
}

.mainPanelPlaceholder {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.mainPanel {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pageHeader h2 {
  font-size: 26px;
}

.pageHeader p {
  color: var(--color-grey-500);
  margin-top: 0.3rem;
}

.formWrapper {
  width: 100%;
  display: flex;
}

.form {
  width: 100%;
  max-width: 900px;
  background-color: var(--color-bg);
  padding: 1.2rem 1.5rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px var(--color-bg-muted);
}

.fullWidthSection {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.section__special {
  gap: 0rem;
}

.section div h4 {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-600);
}
.section div {
  line-height: 1.5rem;
}
.section div p {
  font-size: 0.8rem;
  color: var(--color-grey-500);
}

.label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.label span:first-child {
  font-weight: 600;
}

.subjects input {
  padding: 0.65rem 0.75rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-grey-300);
  font-size: 15px;
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.subjects input.errorField {
  background-color: var(--danger-bg);
  border: 1px solid var(--color-danger);
}
.errorField::placeholder {
  color: var(--color-danger);
}
.errorText {
  font-size: 14px;
  color: var(--color-danger);
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.gridItem,
.gridItem__type2 {
  border: 1px solid var(--color-grey-300);
  padding: 0.9rem 1.3rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.gridItem__type2 {
  padding: 0;
}

.gridItem:focus-within,
.gridItem__type2:focus-within {
  border-color: var(--color-primary);
}

.toughnessGroup {
  display: flex;
  gap: 0.6rem;
}

.toughnessBtn {
  padding: 0.45rem 0.9rem;
  border: 1.7px solid var(--color-grey-500);
  background-color: transparent;
  color: var(--color-grey-500);
  font-weight: 600;
  border-radius: 0.35rem;
  cursor: pointer;
}

.toughnessBtn.selected {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-bg);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.saveBtn {
  width: 100%;
  padding: 0.65rem;
  border-radius: 0.35rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: 15px;
  cursor: pointer;
}
.subjects input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(174, 184, 194, 0.2);
}

.errorBox {
  margin-top: -0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
  color: var(--color-danger);
  font-size: 10px;
}
.section .errorBox h4 {
  font-size: 14px;
}
.gridItem__header {
  padding: 0.9rem 1.3rem 0rem 1.3rem;
  border-bottom: 1px solid var(--color-grey-300);
}
.checkboxContainer {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;

  margin-top: 0.5rem;
}
.checkboxContainer label {
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.checkboxContainer input {
  cursor: pointer;
}
.fullWidthGridItem {
  grid-column: 1 / -1;
}
.errorBox__withpadding {
  padding-inline: 1.3rem;
  padding-top: 0.7rem;
}
/* this is the grid that has the lab items (multi select)*/
.gridItem__Main {
  padding: 0.9rem 1.3rem;
  border-bottom: 1px solid var(--color-grey-300);
  max-height: 200px;

  overflow: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
  gap: 0.5rem 1rem;
  align-content: start;
}
.inputField {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin: 0.5rem 1.3rem;
  max-width: 300px;
  border: 1px solid var(--color-grey-300);
  padding-inline: 1rem;
  border-radius: 0.3125rem;
}
.inputField:focus-within {
  box-shadow: 0 0 0 2px rgba(174, 184, 194, 0.2);
}

.inputField input {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 15px;
  min-height: 1.8rem;
}
.inputField input:focus {
  box-shadow: none;
}
.searchContainer {
  border-bottom: 1px solid var(--color-grey-300);
}

.selectedClasses {
  padding: 0.3rem 1.3rem;
}
.selectedClasses p {
  color: var(--color-grey-500);
  font-size: 14px !important;
}
.selectedClasses p span {
  color: var(--color-primary);
  font-weight: 600 !important;
}
.labItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-grey-300);
  background-color: var(--color-bg-light);

  cursor: pointer;
  transition: all 0.15s ease;
}

.labItem:hover {
  border-color: var(--color-grey-500);
  background-color: var(--color-bg-muted);
}

.labItem input {
  accent-color: var(--color-primary);
}

.labItem label,
.labItem input {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  accent-color: var(--color-primary);
}
@media (max-width: 768px) {
  .mainPanel {
    padding: 2rem;
  }

  .form {
    padding: 1.5rem;
  }

  .gridLayout {
    grid-template-columns: 1fr;
  }
}
