.dropdownContainer {
    padding: 0.5rem;
    background-color: var(--color-bg);
    position: absolute;
    border-radius: 7px;
    bottom: -7rem;
    right: -7rem;
    min-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.dropdownContainer::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 2rem;
    height: 15px;
    width: 15px;
    background-color: var(--color-bg);
    transform: rotate(45deg);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.dropdownContainer.active {
    opacity: 1;
    display: flex;
    transform: translateY(0);
    transition: 0.3s ease;
}

.dropdownContainer.inactive {
    opacity: 0;
    display: none;
    transform: translateY(-20px);
    transition: 0.3s ease;
}

.listItem {
    width: 100%;
    padding: 0.6rem;
    color: var(--color-grey-900);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-size: 16px;
    gap: 0.6rem;
}

.listItem:hover {
    background-color: var(--color-grey-100);
}

.menuItemWrapper {
    position: relative;
    width: 100%;
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 7px;
    min-width: 180px;
    z-index: 10;
    padding: 0.5rem;
}

.arrow {
    margin-left: auto;
}