.assignment {
  width: 100%;

  background-color: var(--color-bg);

  border-radius: 0.5rem;
  border: 1px solid var(--color-grey-100);
}
.mainContainer {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  font-size: 18px;
  align-items: center;
}
.info h4 {
  font-size: 19px;
  font-weight: 500;
}
.info p {
  background-color: var(--color-bg-muted);
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--color-grey-100);
  border-radius: 0.5rem;
}
.actionItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.actionItems button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.teacherRole {
  border-top: 1px solid var(--color-grey-100);
  padding: 0.5rem 1rem;
  padding-bottom: 1rem;
}
.teacherRole p {
  color: var(--color-grey-500);
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--color-grey-100);
  border-radius: 0.5rem;
  width: fit-content;
}
.deleteBtn {
  color: var(--color-danger);
}
.actionItems button:hover {
  opacity: 0.7;
}
