.popupContainer {
  position: absolute;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}

.popupMain {
  min-width: clamp(330px, 30vw, 450px);
  padding: 1rem 1.5rem;
  background-color: var(--color-bg);
  border-radius: 0.7rem;
  transform: scale(0.6);
  opacity: 0;
  transition:
    transform 0.2s ease,
    opacity 0.15s ease;
}

.open {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingContainer h4 {
  font-size: 20px;
}

.headingContainer button {
  background: none;
  border: none;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.inputContainer label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.errorText {
  font-size: 14px;
  color: var(--color-danger);
}

.days {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.day,
.dayActive {
  padding: 0.35rem 0.7rem;
  border-radius: 6px;
  font-size: 0.8rem;
  border: 1px solid var(--color-grey-300);
  background: #fff;
  cursor: pointer;
}

.dayActive {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-color: var(--color-primary);
}

.actionBtns {
  display: flex;
  justify-content: flex-end;
  gap: 0.6rem;
  margin-top: 1.5rem;
}

.btn {
  padding: 0.45rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-grey-300);
  background: #fff;
  cursor: pointer;
}

.saveBtn {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-color: var(--color-primary);
}
