.navBar {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding-right: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);

  flex: 0 0 190px;
}
.linkContainer,
.linkGroups {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.linkTag {
  color: var(--color-primary);
  text-decoration: none;
}
.linkContainer {
  justify-content: space-between;
  height: 100%;
}
.linkItem {
  color: var(--color-grey-500);

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-items: center;
  padding: 0.8rem;
  padding-left: 2rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
}
.navBar img {
  margin-left: 2rem;
  margin-top: 2rem;
}

.selected {
  color: var(--color-primary);
}

.linkItem:hover {
  padding-left: 2.3rem;
  width: calc(100% + 0.3rem);
}

/* media queries */
@media (max-width: 615px) {
  .navBar {
    display: none;
  }
}
