.containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.containerMain p {
  text-align: center;
  font-size: 18px;
  color: var(--color-grey-500);
}
