.card {
  position: relative;
  padding: 1.4rem 1.6rem;
  border-radius: 7px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 320px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.6rem;
  color: var(--color-grey-500);
}

.actions svg {
  cursor: pointer;
}

.actions svg:hover {
  opacity: 0.7;
}

.deleteBtn {
  color: var(--color-danger);
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.subject {
  width: fit-content;
  padding: 0.35rem 0.9rem;

  /*I dont know how to make this round all the time. so i just used a large value*/
  /*Georgy if you have any better idea fix this*/
  border-radius: 999px;

  /*also in the future we could have a different color for each subjects*/
  /*for now random color*/
  border: 2px solid tomato;
  color: tomato;
  font-size: 14px;
  font-weight: 500;
}

.classes {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
}

.classPill {
  padding: 0.35rem 0.75rem;

  /*also fix this*/
  border-radius: 999px;

  border: 2px solid var(--color-grey-500);
  color: var(--color-grey-500);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.viewDetails {
  margin-top: 0.4rem;
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  color: var(--color-grey-700);
  cursor: pointer;
  width: fit-content;
  transition: gap 0.15s ease;
}

.viewDetails:hover {
  gap: 0.5rem;
}
