.card {
  position: relative;
  padding: 1.4rem 1.6rem;
  border-radius: 7px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.headContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.actions {
  display: flex;
  gap: 0.6rem;
  color: var(--color-grey-500);
}

.actions svg {
  cursor: pointer;
}

.actions svg:hover {
  opacity: 0.7;
}

.deleteBtn {
  color: var(--color-danger);
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.subjects {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
}

.subjectPill {
  padding: 0.35rem 0.9rem;
  border-radius: 999px;
  border: 2px solid tomato;
  color: tomato;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.classes {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
}

.classPill {
  padding: 0.35rem 0.75rem;
  border-radius: 999px;
  border: 2px solid var(--color-grey-500);
  color: var(--color-grey-500);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.viewDetails {
  /* margin-top: 0.4rem; */
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  color: var(--color-grey-700);
  cursor: pointer;
  width: fit-content;
  transition: gap 0.15s ease;
}

.viewDetails:hover {
  gap: 0.5rem;
}
