.popupContainer {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.2s ease, opacity 0.1s ease;
}
.popupMain {
  min-width: clamp(330px, 30vw, 450px);
  padding: 1rem 1.5rem;
  background-color: var(--color-bg);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.2s ease, opacity 0.1s ease;
  transform: scale(0.6);
}
.open {
  transform: scale(1);
  pointer-events: auto;
  opacity: 1;
}
.headingContainer {
  display: flex;
  justify-content: space-between;
}
.headingContainer h4 {
  font-size: 20px;
}
.headingContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.formContainer,
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.formContainer {
  gap: 0.8rem;
}

.inputContainer label {
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.errorText {
  font-size: 14px;
  color: var(--color-danger);
}

.inputContainer input {
  border: 1px solid var(--color-grey-300);
  padding: 0.5rem;
  border-radius: 0.3125rem;
}
.inputContainer input.errorField {
  animation: shakeField 0.35s ease-in-out;
  color: var(--color-danger);

  border: 1px solid var(--color-danger);
  background-color: var(--danger-bg);
}
.inputContainer input.errorField::placeholder {
  color: var(--color-danger);
}
.actionBtns {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

.btnItem {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--color-grey-300);
  border-radius: 0.3125rem;
  cursor: pointer;
}

.saveBtn {
  border-color: var(--color-primary);
  color: var(--color-bg);
  background-color: var(--color-primary);
}
