.classItem {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--color-bg);
}
.classItem p {
  font-size: 16px;
  color: var(--color-grey-500);
}
.itemHeading {
  display: flex;
  justify-content: space-between;
}
.itemHeading h3 {
  color: var(--color-primary);
  font-size: 20px;
}
.actionBtns {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.actionBtn__Item {
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
.actionBtn__Item:hover {
  opacity: 0.7;
}
.deleteBtn {
  color: var(--color-danger);
}
