.subItem {
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: text;
}
.editItem {
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subjectName__rowItem {
  font-weight: 500;
  font-family: "Inter";
  font-size: 1.05rem;
}

.teacherName__rowItem {
  font-weight: 400;
  font-family: "Inter";
  font-size: 0.95rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.editForm {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.editForm input {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.editForm input::placeholder,
.editForm input {
  color: var(--color-bg);
}
.actionBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.actionBtn {
  cursor: pointer;
  color: var(--color-grey-300);
}
