.timeTableView {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  width: 100%;
}

.mainPanelPlaceholder {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.mainPanel {
  padding: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
}

.mainPanel__headings {
  font-family: "Inter";
  display: flex;
  cursor: default;
  justify-content: space-between;
}

.selectClass {
  cursor: default;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 17px;
}

.selectDrop {
  width: 200px;
}

.timeTableContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timeTable {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid var(--color-grey-100);
}

.timeTable h4 {
  cursor: default;
  font-size: 22px;
  padding: 1.5rem;
  font-weight: 500;
  font-family: "Inter";
}

.timeTableScroll {
  overflow-x: auto;
  width: 100%;
}

.timeTableGrid {
  display: grid;
  min-width: max-content;
  grid-template-columns: 200px repeat(var(--grid-cols), 1fr);
  grid-template-rows: 48px repeat(var(--grid-rows), 90px);
  gap: 0;
  border-top: 1px solid var(--color-table-border);
  border-left: 1px solid var(--color-table-border);
}

.headingRowItem,
.slotBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
}

.headingRowItem {
  background-color: var(--color-table-heading);
  color: var(--color-grey-900);
}

.rowItem,
.headingRowItem {
  border-right: 1px solid var(--color-table-border);
  border-bottom: 1px solid var(--color-table-border);
}

.subjectBox {
  padding: 0.6rem;
}

@media (max-width: 768px) {
  .mainPanel {
    padding: 1.5rem;
  }

  .timeTable h4 {
    font-size: 18px;
  }
}
