.timeTableView {
  background-color: var(--color-bg-muted);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}
.mainPanelPlaceholder {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.mainPanel {
  padding: 2rem 2rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mainPanel__headings {
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
}

@media (max-width: 615px) {
  .mainPanel {
    padding: 2rem;
  }
}
