.container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 80%;
    border-radius: 1rem;
    margin: -5rem;
}

.reverse{
    flex-direction: row-reverse;
}

.iconContainer{
    width: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.3s ease;
}

.iconContainer:hover{
    scale: 1.05;
}

.iconContainer .mainIcon svg{
    scale: 3.5;
    stroke-width: 1px;
    position: absolute;
    z-index: 1;
}

.s1, .s2{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.s1 {
    fill: rgba(0, 0, 0, 0.06);
    animation: clockwise 90s linear infinite;
}

.s2 {
    fill: rgba(0, 0, 0, 0.04);
    animation: counterClockwise 90s linear infinite;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: breathe 10s linear infinite;
}

.description h3{
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.description p{
    color: var(--color-grey-500);
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

/*------------- Animations --------------*/

@keyframes clockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counterClockwise {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes breathe {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(0.2rem);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-0.2rem);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 615px) {
    
    .container{
        flex-direction: column-reverse;
        margin: 0;
    }

    .iconContainer{
        width: 100%;
    }

    .iconContainer div svg {
        scale: 3;
    }

    .description h3{
        font-size: 2rem;
        text-align: center;
    }

    .description p{
        display: none;
    }

}