.subjects {
  background-color: var(--color-bg-muted);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.mainPanelPlaceholder {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.mainPanel {
  padding: 2rem 2rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mainPanel__headings {
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.mainPanel__headings div p {
  color: var(--color-grey-500);
}

.utilityPanel {
  margin-bottom: 1rem;
}

.createBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  width: 150px;
  padding: 0.7rem;
  font-size: 16px;
  color: var(--color-bg);
  border: none;
  border-radius: 0.5rem;
  background: var(--color-primary);
}
.gridSubjects {
  padding: 0rem 2rem 2rem 0rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 500;
  background-color: var(--color-primary);
}

.popup .card {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: var(--color-bg);
  padding: 2rem;
  border-radius: var(--border-radius);
  z-index: 600;
  min-width: 30%;
}

.popup h3 {
  font-weight: normal;
}

.popup .actions {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.popup .actions button {
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.25s ease;
}

.popup .actions button:hover {
  transform: translateY(-2px);
}

.popup .actions .delBtn {
  background-color: var(--color-danger);
  color: #fff;
}

.popup .actions .cancel {
  border: 1px solid var(--color-grey-500);
}

/* media queries here */
@media (max-width: 780px) {
  .mainPanel__headings {
    flex-direction: column;
    gap: 1rem;
  }
  .createBtn {
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 615px) {
  .mainPanel,
  .gridSubjects {
    padding: 2rem;
  }

  .utilityPanel {
    padding-left: 2rem;
  }
}
