* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --color-primary: #1c1c1e; /* deep charcoal black */
  --color-primary-light: #2a2a2d; /* lighter charcoal */

  /* Accent */
  --color-accent: #6e4e37; /* warm brown accent */
  --color-accent-light: #8a6547; /* lighter warm brown */

  /* Greys */
  --color-grey-900: #2b2b2b;
  --color-grey-700: #4a4a4a;
  --color-grey-500: #7a7a7a;
  --color-grey-300: #c7c7c7;
  --color-grey-100: #eaeaea;

  /* Backgrounds */
  --color-bg: #ffffff; /* white background */
  --color-bg-light: #fafafa;
  --color-bg-muted: #f5f5f5; /* subtle light grey */

  /* Status Colors */
  --color-success: #2ecc71;
  --color-danger: #e74c3c;
  --color-warning: #f1c40f;

  --danger-bg: #ebcecb81;

  /* Optional Glass UI */
  --color-glass: rgba(255, 255, 255, 0.1);

  /* Layout */
  --border-radius: 7px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg) inset;
  -webkit-text-fill-color: var(--color-grey-700);
  transition: background-color 5000s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

/*Firefox*/
@supports (-moz-appearance: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey-700) transparent;
  }
}

/*Chromium, Safari ...*/
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-700);
}
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-900);
}

body {
  font-family: "acumin-pro", sans-serif;
}

.popup_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: black;
  opacity: 0.6;
  backdrop-filter: blur(10px);
}
/* 
this shake animation is for error indication in inputfields */
@keyframes shakeField {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(4px);
  }
  45% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* this is for hiding stuff */
.hidden {
  display: none;
}

.loader_container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.label {
  display: flex;
  justify-content: space-between;
}

.errorLabel {
  color: var(--color-danger);
  font-size: 12px;
}

.hidden {
  display: none;
}

.errorInputField {
  animation: shakeField 0.35s ease-in-out;
  color: var(--color-danger);
  border-color: var(--color-danger);
  background-color: var(--danger-bg);
}

.errorInputField input::placeholder {
  color: var(--color-danger);
}

.errorInput {
  animation: shakeField 0.35s ease-in-out;
  color: var(--color-danger) !important;
  border-color: var(--color-danger) !important;
  background-color: var(--danger-bg) !important;
}
.errorInput::placeholder {
  color: var(--color-danger);
}
