* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --color-primary: #1c1c1e; /* deep charcoal black */
  --color-primary-light: #2a2a2d; /* lighter charcoal */

  /* Accent */
  --color-accent: #6e4e37; /* warm brown accent */
  --color-accent-light: #8a6547; /* lighter warm brown */

  /* Greys */
  --color-grey-900: #2b2b2b;
  --color-grey-700: #4a4a4a;
  --color-grey-500: #7a7a7a;
  --color-grey-300: #c7c7c7;
  --color-grey-100: #eaeaea;

  /* Backgrounds */
  --color-bg: #ffffff; /* white background */
  --color-bg-muted: #f5f5f5; /* subtle light grey */

  /* Status Colors */
  --color-success: #2ecc71;
  --color-danger: #e74c3c;
  --color-warning: #f1c40f;

  --danger-bg: #ebcecb81;

  /* Optional Glass UI */
  --color-glass: rgba(255, 255, 255, 0.1);
}
body {
  font-family: "acumin-pro", sans-serif;
}

.popup_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: black;
  opacity: 0.6;
  backdrop-filter: blur(10px);
}
/* 
this shake animation is for error indication in inputfields */
@keyframes shakeField {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(4px);
  }
  45% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* this is for hiding stuff */
.hidden {
  display: none;
}
