.tableItemContainer {
  background-color: var(--color-bg);
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
}

.headingPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headingPanel h4 {
  font-size: 18px;
}

.actionBtns {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.actionBtn__Item {
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
.actionBtn__Item:hover {
  opacity: 0.7;
}
.deleteBtn {
  color: var(--color-danger);
}

.viewDetailsBtn {
  margin-top: 0.5rem;
  font-size: 15px;
  color: var(--color-grey-500);
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  cursor: pointer;
  align-items: center;
  transition: gap 0.2s ease-in;
}
.viewDetailsBtn:hover {
  gap: 0.4rem;
}
