.teacher {
  background-color: var(--color-bg-muted);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}
.mainPanelPlaceholder {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.mainPanel {
  padding: 2rem 2rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mainPanel__headings {
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
}
.mainPanel__headings div p {
  color: var(--color-grey-500);
}

.utilityPanel {
  margin-bottom: 1rem;
}

.createBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  width: 150px;
  padding: 0.7rem;
  font-size: 16px;
  color: var(--color-bg);
  border: none;
  border-radius: 0.5rem;
  background: var(--color-primary);
}
.gridTeachers {
  padding: 0rem 2rem 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
/* media queries here */
@media (max-width: 780px) {
  .mainPanel__headings {
    flex-direction: column;
    gap: 1rem;
  }
  .createBtn {
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 615px) {
  .mainPanel,
  .gridTeachers {
    padding: 2rem;
  }

  .utilityPanel {
    padding-left: 2rem;
  }
}
