.reset__BIG_CONTAINER_TOCENTERDIV {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.resetPass__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.email {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 14px;
  line-height: 1.2;
}
.backBtn {
  display: inline-flex;
  width: fit-content;
  gap: 0.2rem;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.backBtn:hover {
  gap: 0.4rem;
}
